.nav {
    background-color: whitesmoke;
}

.dropdown {
    position: relative;
}
.dropdown_menu {
    display: none;
    background-color: whitesmoke;
}

.dropdown_open .dropdown_menu {
    display: block;
    position: absolute;
    min-width: 100px;
}

.nav_links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav_link {
    display: block;
    text-decoration: none;
    color: #222;
    padding: 0.5rem;
}